<!DOCTYPE html>
<html lang="en">

<head>{{>header}}
    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        <h1 class="mt-4">Dashboard</h1>
        <p class="lead mb-3">Welcome, {{name}}
        </p>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
    {{>footer}}
</body>

</html>